<tr>
  <td align="center" valign="top">
    <%= render partial: 'spree/shared/base_mailer_header', locals: {mailer_order_number: false, mailer_order: false, mailer_title: Spree.t('stock_mailer.stock_email.subject')} %>
  </td>
</tr>
<tr>
  <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" id="templateBody" width="100%">
      <tr>
        <td class="bodyContent" valign="top">
          <h3 class="customerName">
            <%= Spree.t('stock_mailer.stock_email.hi_there') %>
          </h3>
          <%= raw Spree.t('stock_mailer.stock_email.message_one', :product_name => link_to(@stock_email.variant.name, product_url(@stock_email.variant.product))) %>
          <br>
            <%= Spree.t('stock_mailer.stock_email.message_two') %>
          </br>
          <br/>
          <br/>
          <small>
            <%= Spree.t('stock_mailer.stock_email.note') %>
          </small>
          <br/>
          <br>
            Cheers,
          </br>
          <br/>
          <strong>
            <%= Spree.t('stock_mailer.stock_email..thingbits_team') %>
          </strong>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td align="center" valign="top">
    <%= render partial: 'spree/shared/base_mailer_footer' %>
  </td>
</tr>
